<div class="card flex flex-column flex-wrap justify-content-start pb-4 w-full">
    <div class="card flex flex-column justify-content-start">
        <p><b>Nombre:</b>test<br>
        <b>Email:</b>test<br>
        <b>Tipo:</b>test<br>
        <b>Telefono/celular:</b>test<br>
        <b>Departamento:</b>test</p>
    </div>
</div>

<div class="flex justify-content-center pb-2">
    <div class="card flex justify-content-center gap-2">
        <p-button severity="secondary" label="Cerrar" (click)="closeModal()" />
    </div>  
</div>